/* ROBOTO */
@font-face {
    font-family: 'roboto_regular_web';
    src: url('./Roboto/roboto-regular-webfont.eot');
    src: url('./Roboto/roboto-regular-webfont.eot');
    src: url('./Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('./Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium_web';
    src: url('./Roboto/Roboto-Medium.eot');
    src: url('./Roboto/Roboto-Medium.eot');
    src: url('./Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('./Roboto/Roboto-Medium.woff2') format('woff2'),
         url('./Roboto/Roboto-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold_web';
    src: url('./Roboto/roboto-bold-webfont.eot');
    src: url('./Roboto/roboto-bold-webfont.eot');
    src: url('./Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./Roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('./Roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* MULISH */
@font-face {
    font-family: 'mulish-light';
    src: url('./Mulish/Mulish-Light.eot');
    src: url('./Mulish/Mulish-Light.eot?#iefix') format('embedded-opentype'),
         url('./Mulish/Mulish-Light.woff2') format('woff2'),
         url('./Mulish/Mulish-Light.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'mulish-regular';
    src: url('./Mulish/Mulish-Regular.eot');
    src: url('./Mulish/Mulish-Regular.eot?#iefix') format('embedded-opentype'),
         url('./Mulish/Mulish-Regular.woff2') format('woff2'),
         url('./Mulish/Mulish-Regular.woff') format('woff');
    font-weight: normal;
}


@font-face {
    font-family: 'mulish-semibold';
    src: url('./Mulish/Mulish-SemiBold.eot');
    src: url('./Mulish/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('./Mulish/Mulish-SemiBold.woff2') format('woff2'),
         url('./Mulish/Mulish-SemiBold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'mulish-bold';
    src: url('./Mulish/Mulish-Bold.eot');
    src: url('./Mulish/Mulish-Bold.eot?#iefix') format('embedded-opentype'),
         url('./Mulish/Mulish-Bold.woff2') format('woff2'),
         url('./Mulish/Mulish-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'mulish-extrabold';
    src: url('./Mulish/Mulish-ExtraBold.eot');
    src: url('./Mulish/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('./Mulish/Mulish-ExtraBold.woff2') format('woff2'),
         url('./Mulish/Mulish-ExtraBold.woff') format('woff');
    font-weight: bold;
}