@charset "UTF-8";
body {
  font-family: "mulish-regular";
  background-color: #F0F0F0; }
  body a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 100%;
    height: 1px;
    overflow: hidden;
    z-index: -999;
    color: #000;
    font-family: "mulish-bold"; }
  body a.skip-main:focus, body a.skip-main:active {
    color: #000;
    background-color: #F37174;
    border: 1px solid #F37174;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 15px;
    text-align: center;
    font-size: 1.1em;
    z-index: 999;
    outline: 3px solid #000; }

header {
  margin-bottom: 2em; }

section {
  margin-top: 7.5em;
  margin-bottom: 7.5em; }

h3 {
  font-size: 30px;
  font-family: "mulish-bold"; }

hr {
  border-top: 1px solid #c7c7c7; }

.middle__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.logo {
  height: 100px;
  max-height: 100px; }

@media (max-width: 575.98px) {
  .w-50 {
    width: 100% !important; } }

.title__section_right {
  font-size: 30px;
  color: #000;
  font-family: "mulish-bold";
  display: inline-block; }

.description__title {
  font-size: 14px;
  color: #000;
  display: inline-block;
  margin-top: 20px; }

#header .navbar {
  background-color: transparent; }
  #header .navbar .navbar-brand {
    padding: 0;
    font-size: 0;
    margin-right: 0; }
    #header .navbar .navbar-brand:focus {
      outline: 3px solid #000; }
    #header .navbar .navbar-brand img {
      height: 100px;
      max-height: 100px; }
  #header .navbar .nav-item .nav-link {
    font-family: "mulish-regular";
    font-size: 16px;
    color: #000;
    margin-right: 65px; }
    #header .navbar .nav-item .nav-link:focus {
      outline: 3px solid #000; }
    #header .navbar .nav-item .nav-link:hover {
      color: #000; }
    #header .navbar .nav-item .nav-link img {
      height: 24px;
      max-height: 24px; }
    #header .navbar .nav-item .nav-link.icon__link {
      margin-right: 15px; }

.button__light {
  border: 2px solid #F37174;
  border-radius: 10px;
  color: #000;
  background: transparent;
  padding: 10px 17px 10px 17px; }
  .button__light:focus {
    box-shadow: 0 0 0 0.2rem #000; }
  .button__light:hover {
    color: #000;
    background-color: #F37174; }
  .button__light .icon__button {
    height: 24px;
    max-height: 24px; }

.button__hero {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 10px 40px 10px 40px;
  font-size: 14px;
  font-family: "mulish-regular"; }
  .button__hero:focus {
    box-shadow: 0 0 0 0.2rem #000; }

.button__light_shop {
  border: 1px solid #F37174;
  border-radius: 10px;
  color: #000;
  background: transparent;
  padding: 10px 17px 10px 17px;
  font-size: 14px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px; }
  .button__light_shop:focus {
    box-shadow: 0 0 0 0.2rem #000; }
  .button__light_shop:hover {
    background-color: #fff;
    color: #000; }
  .button__light_shop .icon__button {
    height: 24px;
    max-height: 24px; }
  .button__light_shop span {
    font-size: 14px;
    display: inline-block; }

#carouselProducts {
  /* control image height */
  /* smoother transitions */ }
  #carouselProducts .carousel-item-prev,
  #carouselProducts .carousel-item-next,
  #carouselProducts .carousel-item.active {
    display: flex; }
  #carouselProducts .carousel-inner {
    min-height: 450px; }
  #carouselProducts .card-img-top-250 {
    max-height: 225;
    overflow: hidden; }
  #carouselProducts .card-deck {
    margin-left: 0px;
    margin-right: 0px; }
  #carouselProducts .card {
    border: 1px solid #F37174;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s;
    -webkit-transition: .3s ease-in-out; }
    #carouselProducts .card:hover {
      transform: scale(1.12);
      background-color: #F37174;
      background: url(../../public/images/png/shape-wave.png); }
    #carouselProducts .card .card-header {
      background-color: #fff;
      border: 0px;
      padding: 20px;
      background: transparent; }
      #carouselProducts .card .card-header a:focus {
        outline: 3px solid #000; }
      #carouselProducts .card .card-header a .icon__favourite {
        height: 25px;
        max-height: 25px; }
      #carouselProducts .card .card-header .add__favourite {
        transition: 0.2s ease-in;
        position: relative;
        top: 5px;
        width: 50px;
        height: 50px;
        background: #dfdfdf;
        transform: rotate(45deg); }
    #carouselProducts .card img.photo__product {
      max-height: 136px; }
    #carouselProducts .card .card-body {
      padding: 20px 20px 0px 20px; }
      #carouselProducts .card .card-body p {
        margin-bottom: 0.5rem; }
      #carouselProducts .card .card-body .card__description {
        font-size: 16px;
        font-family: "mulish-regular";
        color: #000;
        margin-top: 0.5rem;
        line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 54px;
        height: auto;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
    #carouselProducts .card .card-footer {
      background: transparent;
      border: 0px; }
  #carouselProducts .carousel-inner > .carousel-item.next.left,
  #carouselProducts .carousel-inner > .carousel-item.prev.right {
    transition: all 1s ease; }
  #carouselProducts a.title__card {
    color: #000;
    font-size: 16px;
    font-family: "mulish-bold";
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 100px;
    height: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
    #carouselProducts a.title__card:hover {
      color: #000;
      text-decoration: none; }
    #carouselProducts a.title__card:focus {
      outline: 3px solid #000; }
  #carouselProducts .card__description__pricing {
    font-size: 14px;
    font-family: "mulish-regular";
    text-decoration: underline; }
  #carouselProducts span {
    font-family: "mulish-bold"; }
  #carouselProducts .img-fluid {
    width: 100%;
    height: auto; }

#footer {
  padding: 70px;
  background-color: #fff; }
  #footer ul {
    padding: 0;
    list-style-type: none; }
    #footer ul .nav-link {
      font-family: "mulish-regular";
      color: #000;
      font-size: 16px; }
      #footer ul .nav-link:focus {
        outline: 3px solid #000; }
  #footer .rights {
    text-align: center;
    font-size: 12px; }

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal; }

/**
  Slider
*/
/*=================================
  Previous and Next icon buttons
==================================*/
button.slick-next:focus, button.slick-prev:focus {
  outline: 3px solid #3A3A3A; }

.slick-prev,
.slick-next {
  position: absolute;
  background: transparent;
  border: none;
  transform: translate(0, -75%); }
  .slick-prev:hover .slick-prev-icon,
  .slick-prev:hover .slick-next-icon, .slick-prev:focus .slick-prev-icon,
  .slick-prev:focus .slick-next-icon,
  .slick-next:hover .slick-prev-icon,
  .slick-next:hover .slick-next-icon,
  .slick-next:focus .slick-prev-icon,
  .slick-next:focus .slick-next-icon {
    opacity: 1;
    outline: 0px; }
  .slick-prev:focus .slick-prev-icon,
  .slick-prev:focus .slick-next-icon,
  .slick-next:focus .slick-prev-icon,
  .slick-next:focus .slick-next-icon {
    color: orange;
    font-size: 28px;
    margin-left: -2px; }
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    cursor: default; }
    .slick-prev.slick-disabled .slick-prev-icon,
    .slick-prev.slick-disabled .slick-next-icon,
    .slick-next.slick-disabled .slick-prev-icon,
    .slick-next.slick-disabled .slick-next-icon {
      opacity: 0.25; }
  .slick-prev .slick-prev-icon,
  .slick-prev .slick-next-icon,
  .slick-next .slick-prev-icon,
  .slick-next .slick-next-icon {
    color: black;
    opacity: 0.75;
    font-family: "slick";
    font-size: 24px;
    line-height: 1; }

.slick-prev {
  right: 60px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev .slick-prev-icon:before {
    content: "←"; }
    [dir="rtl"] .slick-prev .slick-prev-icon:before {
      content: "→"; }

.slick-next {
  right: 0px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next .slick-next-icon:before {
    content: "→"; }
    [dir="rtl"] .slick-next .slick-next-icon:before {
      content: "←"; }

/*==========================
  Slide navigation dots
===========================*/
.slick-slider {
  margin-bottom: 30px;
  padding: 0px; }
  .slick-slider.slick-dotted {
    margin-bottom: 0px; }
    @media (max-width: 575.98px) {
      .slick-slider.slick-dotted {
        margin-bottom: 40px; } }

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 7px;
    padding: 0; }
    @media (max-width: 575.98px) {
      .slick-dots li {
        margin: 0 12px; } }
    .slick-dots li button {
      display: block;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      border: 0;
      background: transparent;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover .slick-dot-icon, .slick-dots li button:focus .slick-dot-icon {
          opacity: 1; }
      .slick-dots li button:focus .slick-dot-icon:before {
        outline: 3px solid #3A3A3A; }
      .slick-dots li button .slick-dot-icon {
        color: #3A3A3A !important;
        opacity: 0.25;
        width: 10px;
        height: 10px;
        border-radius: 100%; }
        .slick-dots li button .slick-dot-icon:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "•";
          font-family: "slick";
          font-size: 35px;
          line-height: 1;
          text-align: center;
          transition: all .05s linear; }
        .slick-dots li button .slick-dot-icon:focus {
          outline: 3px solid #3A3A3A; }
    .slick-dots li.slick-active button:focus .slick-dot-icon {
      color: #3A3A3A;
      opacity: 1; }
    .slick-dots li.slick-active button .slick-dot-icon {
      color: black;
      opacity: 1; }
      .slick-dots li.slick-active button .slick-dot-icon:before {
        margin-top: 0px;
        font-size: 35px; }

/**
 Improved .sr-only class by ffoodd: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.slick-sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

/*===========================
  Pause/play icon button
============================*/
.slick-autoplay-toggle-button {
  position: absolute;
  left: 5px;
  bottom: -32px;
  z-index: 10;
  opacity: 0.75;
  background: none;
  border: 0;
  cursor: pointer;
  color: black; }
  .slick-autoplay-toggle-button:hover, .slick-autoplay-toggle-button:focus {
    outline: none;
    opacity: 1; }
  .slick-autoplay-toggle-button:focus {
    color: #3A3A3A; }
  .slick-autoplay-toggle-button .slick-pause-icon:before {
    content: "⏸";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    text-align: center; }
  .slick-autoplay-toggle-button .slick-play-icon:before {
    content: "▶";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    text-align: center; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin-top: 40px; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 55px; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  padding: 20px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

#heroContent .frame__bg {
  background-image: url(../../public/images/png/frame-hero-image.png);
  background-size: 100% 100%;
  height: 610px; }
  @media (max-width: 575.98px) {
    #heroContent .frame__bg {
      background-size: inherit; } }
  @media (max-width: 768px) {
    #heroContent .frame__bg {
      background-size: inherit; } }
  #heroContent .frame__bg .container {
    position: relative;
    top: 5.5em; }
    #heroContent .frame__bg .container h2 {
      font-size: 34px;
      color: #000;
      font-family: "mulish-bold";
      color: #3A3A3A; }
    #heroContent .frame__bg .container p {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #3A3A3A; }

#evidenceContent p {
  margin-top: 30px;
  font-size: 14px;
  font-family: "mulish-regular"; }

#productEvidence .bg__evidence {
  margin-top: 3em; }
