#heroContent {
    .frame__bg {
        background-image: url(../../public/images/png/frame-hero-image.png);
        background-size: 100% 100%;
        height: 610px;

        @media #{$to-small-device} {
            background-size: inherit;
        }

        @media #{$to-medium-device} {
            background-size: inherit;
        }

        .container {
            position: relative;
            top: 5.5em;

            h2 {
                font-size: 34px;
                color: $black;
                font-family: $m-bold;
                color: $black_light;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                color: $black;
                margin-top: 30px;
                margin-bottom: 30px;
                color: $black_light;
            }
        }
    }
}

#evidenceContent {
    p {
        margin-top: 30px;
        font-size: 14px;
        font-family: $m-regular;
    }
}

#productEvidence {
    .bg__evidence {
        margin-top: 3em;
    }
}