.button__light {
    border: 2px solid $primary_color;
    border-radius: 10px;
    color: $black;
    background: transparent;
    padding: 10px 17px 10px 17px;

    &:focus {
        box-shadow: 0 0 0 0.2rem $black;
    }

    &:hover {
        color: $black;
        background-color: $primary_color;
    }

    .icon__button {
        height: 24px;
        max-height: 24px;
    }
}

.button__hero {
    background-color: $white;
    border-radius: 10px;
    color: $black;
    padding: 10px 40px 10px 40px;
    font-size: 14px;
    font-family: $m-regular;

    &:focus {
        box-shadow: 0 0 0 0.2rem $black;
    }
}

.button__light_shop {
    border: 1px solid $primary_color;
    border-radius: 10px;
    color: $black;
    background: transparent;
    padding: 10px 17px 10px 17px;
    font-size: 14px;
    width: 100%;
    align-items: center;
    background-color: $white;
    margin-bottom: 10px;


    &:focus {
        box-shadow: 0 0 0 0.2rem $black;
    }

    &:hover {
        background-color: $white;
        color: $black;
    }

    .icon__button {
        height: 24px;
        max-height: 24px;
    }

    span {
        font-size: 14px;
        display: inline-block;
    }
}