#carouselProducts {
    // @media #{$to-small-device} {    
    //     margin-top: 3rem;
    // }

    .carousel-item-prev,
    .carousel-item-next,
    .carousel-item.active {
        display:flex;
    }

    .carousel-inner {
        min-height: 450px;
    }


    /* control image height */
    .card-img-top-250 {
        max-height: 225;
        overflow:hidden;
    }

    .card-deck {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card {
        border: 1px solid $primary_color;
        border-radius: 20px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.08);
        transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s;
        -webkit-transition: .3s ease-in-out;
        //z-index: -9;


        &:hover {
            transform: scale(1.12);
            background-color: $primary_color;
            background: url(../../public/images/png/shape-wave.png);
        }

        .card-header {
            background-color: $white;
            border: 0px;
            padding: 20px;
            background: transparent;

            a {

                &:focus {
                    outline: 3px solid $black; 
                }

                .icon__favourite {
                    height: 25px;
                    max-height: 25px;
                }
            }

            .add__favourite {
                transition: 0.2s ease-in;
                position: relative;
                top: 5px;
                width: 50px;
                height: 50px;
                background: #dfdfdf;
                transform: rotate(45deg);
            }
        }

        img.photo__product {
            max-height: 136px;
        }
        .card-body {

            padding: 20px 20px 0px 20px;
            p {
                margin-bottom: 0.5rem;
            }

            .card__description {
                font-size: 16px;
                font-family: $m-regular;
                color: $black;
                margin-top: 0.5rem;
                line-height: 19px;
                // truncate text
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                max-height: 54px;
                height: auto;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }

        .card-footer {
            background: transparent;
            border: 0px;
        }
    }

    /* smoother transitions */
    .carousel-inner>.carousel-item.next.left,
    .carousel-inner>.carousel-item.prev.right
    {
        transition: all 1s ease;
    }



    a.title__card {
        color: $black;
        font-size: 16px;
        font-family: $m-bold;
        // truncate text
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        max-height: 100px;
        height: auto;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &:hover {
            color: $black;
            text-decoration: none;
        }

        &:focus {
            outline: 3px solid $black;
        }
    }

    .card__description__pricing {
        font-size: 14px;
        font-family: $m-regular;
        text-decoration: underline;
    }

    span {
        font-family: $m-bold;
    }

    .img-fluid{
        width: 100%;
        height: auto;
    }
}