#footer {
    padding: 70px;
    background-color: $white;

    ul {
        padding: 0;
        list-style-type: none;

        .nav-link {
            font-family: $m-regular;
            color: $black;
            font-size: 16px;

            &:focus {
                outline: 3px solid $black;
            }
        }
    }

    .rights {
        text-align: center;
        font-size: 12px;
    }
}