#header {
    .navbar {
        background-color: transparent;

        .navbar-brand {
            padding: 0;
            font-size: 0;
            margin-right: 0;

            &:focus {
                outline: 3px solid $black;
            }

            & img {
                height: 100px;
                max-height: 100px;
            }
        }

        .nav-item {
            .nav-link {
                font-family: $m-regular;
                font-size: 16px;
                color: $black;
                margin-right: 65px;

                &:focus {
                    outline: 3px solid $black;
                }

                &:hover {
                    color: $black;
                }
                
                & img {
                    height: 24px;
                    max-height: 24px; 
                }

                &.icon__link {
                    margin-right: 15px;
                }

            }
        }
    }
}
