body {
    font-family: $m-regular;
    background-color: $bg_color;

    a.skip-main {
		left:-999px;
		position:absolute;
		top:auto;
		width:100%;
		height:1px;
		overflow:hidden;
		z-index:-999;
        color: $black;
        font-family: $m-bold;
	}

	a.skip-main:focus, a.skip-main:active {
        color: $black;
    	background-color: $primary_color;
   		border: 1px solid $primary_color;
		left: auto;
		top: auto;
		width: 30%;
		height: auto;
		overflow:auto;
		margin: 10px 35%;
		padding: 15px;
		text-align:center;
		font-size:1.1em;
        z-index:999;
        outline: 3px solid $black;
	}
}

header {
    margin-bottom: 2em;
}

section {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
}

h3 {
    font-size: 30px;
    font-family: $m-bold;
}

hr {
    border-top: 1px solid $grey;
}

.middle__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 100px;
    max-height: 100px;
}

.w-50 {
    @media #{$to-small-device} {
        width: 100% !important;
    }
}
