.title__section_right {
    font-size: 30px;
    color: $black;
    font-family: $m-bold;
    display: inline-block;
}

.description__title {
    font-size: 14px;
    color: $black;
    display: inline-block;
    margin-top: 20px;
}