$white: #fff;
$black: #000;
$black_light: #3A3A3A;
$grey: #c7c7c7;
$bg_color: #F0F0F0;

$primary_color: #F37174;

// mulish
$m-light: 'mulish-light';
$m-regular: 'mulish-regular';
$m-semibold: 'mulish-semibold';
$m-bold: 'mulish-bold';
$m-extrabold: 'mulish-extrabold';


// media queries breakpoints
$xxs-up: 375.00px;
$xs-up: 575.98px;
$sm-down: 576px;
$sm-up: 768.00px;
$md-down: 768px;
$md-up: 991.98px;
$lg-down: 992px;
$lg-up: 1199.98px;
$xl-down: 1200px;

$xl-ipad-pro: 1024px;



//media queries
$extra-small-devices-iphone-5: "(max-width: #{$xxs-up})"; 
$to-extra-small-devices-iphone-5: "(min-width: #{$xxs-up})"; 
$extra-small-devices: "(max-width: #{$xs-up})";

// variables media queries
$small-devices: "(min-width: #{$sm-down}) and (max-width: #{$sm-up})";
$medium-devices: "(min-width: #{$md-down}) and (max-width: #{$md-up})";
$medium-devices-general: "(max-width: #{$md-up})";
$large-devices: "(min-width: #{$lg-down}) and (max-width: #{$lg-up})";
$extra-large-devices: "(min-width: #{$lg-up})";
//from
$from-small-device: "(min-width: #{$sm-down})";
$from-medium-device: "(min-width: #{$md-down})";
$from-large-device: "(min-width: #{$lg-down})";
$from-extra-large-device: "(min-width: #{$xl-down})";
//to
$to-small-device: "(max-width: #{$xs-up})";
$to-medium-device: "(max-width: #{$sm-up})";
$to-large-device: "(max-width: #{$md-up})";
$to-extra-large-device: "(max-width: #{$lg-up})";

$to-desktop-view: "(min-width: #{$lg-up})";